[submodule "src/vendor/playground/log"]
	path = src/vendor/playground/log
        url = https://github.com/morrildl/playground-log
[submodule "src/vendor/playground/config"]
	path = src/vendor/playground/config
        url = https://github.com/morrildl/playground-config
[submodule "src/vendor/playground/httputil"]
	path = src/vendor/playground/httputil
        url = https://github.com/morrildl/playground-httputil
[submodule "src/vendor/github.com/mattn/go-sqlite3"]
	path = src/vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "src/vendor/golang.org/x/net"]
	path = src/vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/vendor/playground/session"]
	path = src/vendor/playground/session
        url = https://github.com/morrildl/playground-session
[submodule "src/vendor/golang.org/x/oauth2"]
	path = src/vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule "src/vendor/github.com/dgrijalva/jwt-go"]
	path = src/vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "src/vendor/playground/ca"]
	path = src/vendor/playground/ca
        url = https://github.com/morrildl/playground-ca
[submodule "src/vendor/github.com/boombuler/barcode"]
	path = src/vendor/github.com/boombuler/barcode
	url = https://github.com/boombuler/barcode
[submodule "src/vendor/github.com/pquerna/otp"]
	path = src/vendor/github.com/pquerna/otp
	url = https://github.com/pquerna/otp
[submodule "src/vendor/playground/mail"]
	path = src/vendor/playground/mail
        url = https://github.com/morrildl/playground-mail
[submodule "src/vendor/playground/apiclient"]
	path = src/vendor/playground/apiclient
	url = https://github.com/morrildl/playground-apiclient
